/* Empty. Add your own CSS if you like */
.bar-positive .button{
  background-color: transparent;
}

.bar-positive .button img{
  right: 0px;
  height: 100%;
}

.bar.bar-assertive{
  background: -webkit-linear-gradient(top, #EC6D72 0%,#EF858A 100%);
  background: linear-gradient(to bottom, #EC6D72 0%,#EF858A 100%);
  border-color: #46919C;
}

.bar.bar-positive{
  background: -webkit-linear-gradient(top, #57b0bc 0%,#46919c 100%);
  background: linear-gradient(to bottom, #57b0bc 0%,#46919c 100%);
  border-color: #46919C;
}

.button.button-positive{
  background: -webkit-linear-gradient(top, #B4D18C 0%,#99C261 100%);
  background: linear-gradient(to bottom, #B4D18C 0%,#99C261 100%);
}

.button.button-balanced{
  background: -webkit-linear-gradient(top, #57b0bc 0%,#46919c 100%);
  background: linear-gradient(to bottom, #57b0bc 0%,#46919c 100%);
}

.button.button-energized{
  background: -webkit-linear-gradient(top, #F8C446 0%,#FFBB4F 100%);
  background: linear-gradient(to bottom, #F8C446 0%,#FFBB4F 100%);
}

.menu .item-divider{
  background: -webkit-linear-gradient(top, #57b0bc 0%,#46919c 100%);
  background: linear-gradient(to bottom, #57b0bc 0%,#46919c 100%);
}

.tab-nav{
  position: relative;
  margin-top: -55px;  
}

.tab-content{
  margin-top: 50px;
}

#register-image{
    height: 300px;
    background: blue;
}

.placeholder-icon{
    color: #555;
    margin-right: 10px;
}

.bg-header{
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center center; 
  height: 200px;   
}

.bg-header .img-text{        
  display: block;
  height: 35px;
  position: relative;
  top: 165px;
  text-transform: capitalize;
  font-size: 24px;
  padding-top: 5px;
  font-weight: bold;
  color: #46919C;
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 0px;
  text-align: center;
}

.article-list.item-complex .item-content{
  background-color: transparent;
  padding: 0px;
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center center; 
  height: 150px;
}

.article-list{
  margin-top: 0px;
  margin-bottom: 0px;
}

.article-list div{
  position: absolute;
  bottom: 0;  
}

.article-list h2{
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  color: #fff;
  padding: 10px 10px;  
  width: 100%;
  font-size: 14px;
}

.article-list p{
  color: #000;
  background-color: rgba(255, 255, 255, .4);
  font-weight: bold;  
  text-align: right;
  padding: 5px 10px;
  font-size: 12px;
}

.article-title h2{
  font-weight: bold;
  line-height: 150%;  
}

.cat-list{
  background-color: #46919c;
  margin-right: -15px;
  margin-left: -15px;
  padding: 5px 10px;
  margin-bottom: 0px;
}

#pane-tabs{
  margin-top: 180px;

}

#login-content{
    text-align: center;
    /*background-image: url(../img/berbakti-1.jpg);*/
    background-color: #fff;
    background-position: bottom center;
    background-size:cover;
}

#login-content .item-input{    
    margin-bottom: 0px;
    margin-top: 0px;
}

#login-content .input-label{  
  color: #eee;
  text-align: left;
  padding-left: 10px;
  font-size: 17px;
}

.bar.bar-header .button+.title {
    text-align: center !important;
}

.item-input{
    margin-bottom: 10px;
}

#login-content .item{
    border: none;
}

#login-content input{
    display: block;
    width: 95%;
    color: #333;
    padding: 5px 10px;
    background-color: #F0F0F0;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    font-weight: bold;
}

.nopadding {
  padding: 0;
}

.contentarea{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 100%;
}

.fillheight{
    height: 100%;
}
ion-list ion-item.active a {
    background: #ddd !important;
    color: #46919C;
}

/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  border: 0;
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

input::-webkit-input-placeholder {
 color: #666; 
}

input:-moz-input-placeholder {
 color: #666;
}

.label{
  display: inline-block;
  padding: 3px 8px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
}

.item-thumbnail-right {
  background-color: #efefef;
}

.item-thumbnail-right h2, h3{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-right: 50px !important;  
}

.item-thumbnail-right .elder_pict{
  border-radius: 0% !important;  
  width: 115px !important;
  height: 145px !important;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:center center; 
}

.item-thumbnail-right h3{
  margin-bottom: 20px;
}

.item-thumbnail-right .button{
  margin-right: 50px;
  margin-left: 10px;
  font-weight: bold;
}

.item-thumbnail-right button{
  margin-right: 10px;
}

.menu .item-avatar{
  background-color: #46919C;
}
.item-avatar img{
  border-radius: 0% !important;
  top: 0px !important;
  left: 0px !important;
  max-width: 80px !important;
  max-height: 80px !important;
}
.item-avatar h2{
  color: #fff;
  margin: 0 0 2px 15px;
  font-weight: bold;
}
.item-avatar p{
  color: #fff;
  margin: 0 0 2px 15px;
}

#condition .item{
  border: none;
}
#condition .item-avatar{
  background: -webkit-linear-gradient(top, #57b0bc 0%,#46919c 100%);
  background: linear-gradient(to bottom, #57b0bc 0%,#46919c 100%);
}
#condition .item-avatar img{
  border-radius: 0% !important;
  top: 12px !important;
  left: 12px !important;
  max-width: 50px !important;
  max-height: 50px !important;
}
#condition .item-avatar h2{  
  margin: 0 0 2px 0px;
  font-weight: bold;
}
#condition .item-avatar p{  
  margin: 0 0 2px 0px;
}
#condition .item-avatar .button{
  margin-top: 0px !important;
}

#graph-condition h3{
  text-align: center;
  margin: 10px 0px !important;
  color: #888;
}

#graph-condition div{
  text-align: center;
  color: #666;
}

.img-camera {
  display: block;
  margin: auto;
  padding-top: 50px;  
  width: 25%;
  opacity: .9;
}

.item.active{
  /*background-color: #276bb0;*/
  color: #276bb0;
  font-weight: bold;
}

.item-divider{
  background: -webkit-linear-gradient(top, #57b0bc 0%,#46919c 100%);
  background: linear-gradient(to bottom, #57b0bc 0%,#46919c 100%);
  color: #fff; 
}