<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Kondisi Darurat</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAlert()"><i class="icon ion-close-round "></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
            
      <img ng-src="{{elder.photo==null?'img/emergency.png':elder.photo}}" style="width: 100%;" alt="" >
      <h3 style="text-align: center;">
        {{elder.user.first_name}} {{elder.user.last_name}} telah menekan tombol panik.
      </h3>       
    
      <div class="padding">
        <a ui-sref="app.hospitals"  ng-click="closeAlert()"
        class="button button-block button-large icon-left ion-android-call button-balanced">
          RS Rujukan
        </a>
        <button type="submit" ng-click=""
        class="button button-block button-large icon-left ion-android-call button-balanced">          
           {{elder.user.first_name}} {{elder.user.last_name}}
        </button>
      </div>      
  </ion-content>
</ion-modal-view>