<ion-view view-title="Dashboard">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">Orang Tua</div>
      <div class="item item-body">
        <div>
          Saat ini anda memiliki {{ elders.length }} orang tua terdaftar. Anda dapat melihat kondisi orang tua dari menu. 
        </div>
      </div>
    </div>
    <div class="padding">
        <a href="#/app/parents/add" class="button button-block button-positive">
          <i class="icon ion-plus-circled"></i> Tambah Orang Tua
        </a>
    </div>
  </ion-content>
</ion-view>
