<ion-view view-title="Ubah Data Nama Orang Tua">
    <ion-content>
        <div class="list">
          <label class="item item-input item-floating-label">
              <span class="input-label">Nama Lengkap</span>
              <input type="text" placeholder="Nama Lengkap">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">Tanggal Lahir</span>
              <input type="date" placeholder="Tanggal Lahir">
          </label>
          <label class="item item-input item-select">
              <span class="input-label">Gender</span>
              <select>
                  <option value="L" selected>Laki-Laki</option>
                  <option value="P">Perempuan</option>
              </select>
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">No. Handphone</span>
              <input type="text" placeholder="No. Handphone">
          </label>
        </div>
        <div class="padding">
            <a href="#/app/dashboard" class="button button-block button-positive">
              Tambah
            </a>
        </div>
    </ion-content>
</ion-view>