<ion-view view-title="{{title}}">
  <ion-content>    
    <ion-list>
      <ion-item href="tel:0285420218" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RS Karomah Holistic</h2>
        <p>
          <span class="label balanced-bg light">RS Umum</span> 
          <span class="label balanced-bg light">Swasta</span> 
          <br><i class="icon ion-location"></i> Jalan Gajah Mada Barat No.124, Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 0285420218
        </p>
      </ion-item>
    </ion-list>    
  </ion-content>
</ion-view>
