<ion-view view-title="RS Rujukan" hide-back-button="true">
  <ion-content>    
    <ion-list>      
      <ion-item ng-click="call('0285437222')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RSUD Bendan</h2>
        <p>
          <span class="label balanced-bg light">Umum</span> 
          <span class="label balanced-bg light">Negeri</span> 
          <br><i class="icon ion-location"></i> Jl. Sriwijaya No.2,Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 0285437222
        </p>
      </ion-item>       
      <ion-item ng-click="call('0285421621')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RSUD Kraton</h2>
        <p>
          <span class="label balanced-bg light">Umum</span> 
          <span class="label balanced-bg light">Negeri</span> 
          <br><i class="icon ion-location"></i> Jalan Veteran No. 31, Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 0285421621
        </p>
      </ion-item>
      <ion-item ng-click="call('0285436325')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RSU H.A. Djunaid</h2>
        <p>
          <span class="label balanced-bg light">Umum</span>            
          <span class="label balanced-bg light">Swasta</span> 
          <br><i class="icon ion-location"></i> Jl.Pelita II Kel. Buaran, Pekalongan 
          <br><i class="icon ion-ios-telephone"></i> 0285436325
        </p>
      </ion-item>
      <ion-item ng-click="call('0285420218')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RS Karomah Holistic</h2>
        <p>
          <span class="label balanced-bg light">Umum</span> 
          <span class="label balanced-bg light">Swasta</span> 
          <br><i class="icon ion-location"></i> Jalan Gajah Mada Barat No.124, Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 0285420218
        </p>
      </ion-item>
      <ion-item ng-click="call('0285420218')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RS Islam Al Karomah</h2>
        <p>
          <span class="label balanced-bg light">Umum</span>            
          <span class="label balanced-bg light">Swasta</span> 
          <br><i class="icon ion-location"></i> Jl. Raya Tirto No. 124, Bendan, Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 0285420218
        </p>
      </ion-item>
      <ion-item ng-click="call('0285422845')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RS Siti Khodijah</h2>
        <p>
          <span class="label balanced-bg light">Umum</span>            
          <span class="label balanced-bg light">Swasta</span> 
          <br><i class="icon ion-location"></i> Jl. Bandung No.39-47,Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 0285422845
        </p>
      </ion-item>      
      <ion-item ng-click="call('028542349')" class="item-text-wrap item-thumbnail-left">
        <img src="img/hospital.png" />
        <h2>RS Budi Rahayu</h2>
        <p>
          <span class="label balanced-bg light">Umum</span>            
          <span class="label balanced-bg light">Swasta</span> 
          <br><i class="icon ion-location"></i> Jl. Barito No. 5 Pekalongan
          <br><i class="icon ion-ios-telephone"></i> 028542349
        </p>
      </ion-item>            
    </ion-list>
  </ion-content>
</ion-view>
