<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Gabung</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeJoin()"><i class="icon ion-close-round "></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="joinForm" ng-submit="regJoin(joinForm)">
      <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-android-phone-portrait placeholder-icon"></i>
            <input type="text" name="phone" ng-model="join.phone" placeholder="No. Handphone" required>
        </label>
      </div>
      <div class="padding">                
        <button type="submit" class="button button-block button-positive">Tambah</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>