<ion-view view-title="Grafik Kesehatan">
  <ion-content class="has-header">

    <div class="has-mask bg-header" style="background-image:url({{elder.photo==null?'img/profile_girl.png':elder.photo}});">
      <div class="img-text">{{elder.user.first_name}} {{elder.user.last_name}}</div>                
    </div>

    <div class="list append">
      <div class="list append" id="graph-condition">
        <div class="row" style="background-color: #eaeaea;">          
          <div class="col">            
            <div class="row">              
            <canvas id="pie" class="chart chart-doughnut" chart-data="data" 
              chart-labels="labels" chart-colours="colors"></canvas>
            </div>
            <div class="row">  
              <div class="col"><span class="badge badge-balanced">{{sehat}}</span> Sehat</div>
              <div class="col"><span class="badge badge-energized">{{kangen}}</span> Kangen</div>
              <div class="col"><span class="badge badge-assertive">{{sakit}}</span> Sakit</div>              
            </div>
          </div>          
        </div>        
        <div class="row">
          <div class="col">
            <h3>Periode</h3>
            <div class="item item-input">
                <label><i class="icon ion-android-calendar placeholder-icon"></i></label>
                <input type="text" name="date_from" ng-focus="datePick();"
                        placeholder="Tgl Mulai" required>
            </div>
            <div class="item item-input">
                <label><i class="icon ion-android-calendar placeholder-icon"></i></label>
                <input type="text" name="date_until" ng-focus="datePick();"
                        placeholder="Tgl Hingga" required>
            </div>
          </div>
          <div class="col">
            <h3>Hari Ini</h3>
            <img ng-click="testing()" src="img/icon_sehat.png" alt="" style="width: 40%;">
            <div style="font-weight:bold;">SEHAT</div>
            <div>12 Juni 2015 08:33</div>
          </div>
        </div>
      </div>
    </div>       

  </ion-content>
</ion-view>
