<ion-view view-title="{{elder.name}}">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap item-icon-right">
        <p>Nama: {{elder.name}}</p>
        <p>Tanggal lahir: {{elder.birthdate | date: "dd-MM-yyyy"}}</p>
        <p>Gender: {{elder.gender=='L' ? "Laki-Laki":"Perempuan"}}</p>
      </div>
      <div class="item item-divider">
            <button class="button button-small button-balanced" ui-sref="app.editParent({parentId:elder.id})">
              Ubah
            </button>&nbsp;
            <button class="button button-small button-assertive">
              Hapus
            </button>
      </div>
    </div>
    <ion-list>
        <ion-item class="item-divider">
            <h2>Kondisi orang tua</h2>
        </ion-item>
        <ion-item>
            <h2>Baik</h2>
            <p>03-03-2016 20:20</p>
        </ion-item>
        <ion-item>
            <h2>Biasa</h2>
            <p>03-02-2016 20:20</p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
