<ion-view view-title="Profil Orang Tua">
  <ion-content class="has-header">

    <div class="hero has-mask bg-header" style="background-image:url(img/background.jpg);">
        <img src="img/karakter-circle-shadow.png" alt="" style="width: 30%; margin-top: 20px;">
        <h3 class="">
          {{elder.user.first_name}} {{elder.user.last_name}}
        </h3>
    </div>

    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Kondisi" icon="ion-happy">
            <div class="list padding">
                <div class="item item-divider positive-bg light">Kondisi Harian</div>                
                <div class="item item-avatar item-button-right" ng-repeat="t in tracker track by $index" href="#">
                  <img ng-if="convertCondition(t.condition) == 'sehat'" src = "img/hijau.png">
                  <img ng-if="convertCondition(t.condition) == 'kangen'" src = "img/kangen2.png">
                  <img ng-if="convertCondition(t.condition) != 'kangen' && convertCondition(t.condition) != 'sehat' " src = "img/merah.png">
                  <h2 style="font-weight:bold; text-transform: capitalize;">{{convertCondition(t.condition)}}</h2>
                  <p>{{datetimeFormat(t.modified)}}</p>
                  <a href="geo:-6.889998,109.6701?q=-6.889998,109.6701(posisi)" ng-click="$event.stopPropagation()"
        target="_blank" class="button button-positive" style="margin-top: 10px;">
                    <i class="icon ion-android-map"></i>
                  </a>
                </div>                
            </div>
        </ion-tab>
        <ion-tab title="Riwayat" icon="ion-ios-pulse-strong">
        <div class="list append">
            <div class="list append">                
              <label class="item item-input item-stacked-label">
                <span class="input-label">Dari Tanggal</span>
                <input type="text" name="datefrom" ng-focus="datePick();" placeholder="dari tanggal">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Hingga Tanggal</span>
                <input type="text" name="dateuntill" ng-focus="datePick();" placeholder="hingga tanggal">
              </label>
              <div class="item item-divider positive-bg light">Grafik Kondisi Kesehatan</div>
              <div class="row">
                <div class="col"><span class="badge badge-balanced">{{sehat}}</span> Sehat</div>
                <div class="col"><span class="badge badge-assertive">{{sakit}}</span> Sakit</div>
                <div class="col"><span class="badge badge-energized">{{kangen}}</span> Kangen</div>                  
              </div>
              <div>
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors="colors"
                  chart-labels="labels"></canvas>
              </div>
            </div>
          </div>
        </ion-tab>
        <ion-tab title="Profil" icon="ion-android-person">
            <div class="list padding" >
              <form name="updForm" ng-submit="update(updForm)">
              <div class="list list-inset">
                  <label class="item item-input">
                      <input type="hidden" name="id" ng-model="user.id">
                      <i class="icon ion-android-person placeholder-icon"></i>
                      <input type="text" name="fullname" ng-model="user.fullname" placeholder="Nama Lengkap" required>
                  </label>
                  <div class="item item-input">
                      <label><i class="icon ion-android-calendar placeholder-icon"></i></label>
                      <input type="text" name="birthday" ng-model="user.birthday" ng-focus="datePick();"
                              placeholder="Tanggal Lahir" required>
                  </div>
                  <label class="item item-input item-select">
                      <i class="icon ion-transgender placeholder-icon"></i>
                      <select ng-model="user.gender">
                          <option value="l" selected>Laki-Laki</option>
                          <option value="p">Perempuan</option>
                      </select>
                  </label>
                  <label class="item item-input">
                      <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                      <input type="text" name="phone" ng-model="user.phone" placeholder="No. Handphone" required>
                  </label>
                  <div class="">
                      <button type="submit" class="button button-block button-positive">Simpan</button>
                  </div>
              </div>
            </form>
            </div>
        </ion-tab>
    </ion-tabs>

  </ion-content>
</ion-view>
