<ion-view view-title="Profil Orang Tua" hide-back-button="true">
  <ion-content class="has-header">

    <div class="has-mask bg-header" style="background-image:url({{elder.photo==null?'img/profile_girl.png':elder.photo}});">        
        <div class="img-text">{{elder.user.first_name}} {{elder.user.last_name}}</div>
    </div>

    <a ui-sref="app.parentCondition({parentId:elder.id})" class="button button-large button-full button-positive">
    	<!-- <img src="./img/btn_kondisi.png" alt="" style="width:100%"> -->
    	<strong>KONDISI</strong>
    </a>
    <a ui-sref="app.parentGraphic({parentId:elder.id})" class="button button-large button-full button-balanced">
    	<!-- <img src="./img/btn_riwayat.png" alt="" style="width:100%"> -->
    	<strong>RIWAYAT</strong>
    </a>
    <a ui-sref="app.parentProfile({parentId:elder.id})" class="button button-large button-full button-energized">
    	<!-- <img src="./img/btn_profil.png" alt="" style="width:100%"> -->
    	<strong>PROFIL</strong>
    </a>

  </ion-content>
</ion-view>
