<ion-view view-title="Grafik Kesehatan" hide-back-button="true">
  <ion-content class="has-header">

    <div class="has-mask {{elder.photo==null?'bg-header':'bg-full'}}" 
         style="background-image:url({{elder.photo==null?'img/profile_girl.png':elder.photo}});">        
        <div class="img-text">{{elder.user.first_name}} {{elder.user.last_name}}</div>
    </div>

    <div class="list append">
      <div class="list append" id="graph-condition">
        <div class="row" style="background-color: #eaeaea;">          
          <div class="col">            
            <div class="row">              
            <canvas id="pie" class="chart chart-doughnut" chart-data="data" 
              chart-labels="labels" chart-colours="colors"></canvas>
            </div>
            <div class="row">  
              <div class="col"><span class="badge badge-balanced">{{sehat}}</span> Sehat</div>
              <div class="col"><span class="badge badge-energized">{{kangen}}</span> Kangen</div>
              <div class="col"><span class="badge badge-assertive">{{sakit}}</span> Sakit</div>              
            </div>
          </div>          
        </div>        
        <div class="row">
          <div class="col">
            <h3>Periode</h3>
            <div class="item item-input">
                <label><i class="icon ion-android-calendar placeholder-icon"></i></label>
                <input type="text" name="date_from" ng-focus="datePick(fromDate, 0);"
                        placeholder="Tgl Mulai" ng-model="fromDate" required>
            </div>
            <div class="item item-input">
                <label><i class="icon ion-android-calendar placeholder-icon"></i></label>
                <input type="text" name="date_until" ng-model="toDate" ng-focus="datePick(toDate, 1);"
                        placeholder="Tgl Hingga" required>
            </div>
          </div>
          <div class="col">
            <h3>Hari Ini</h3>
            <img ng-if="latest!=null" ng-src="img/icon_{{latest.condition=='ba'?'sehat':(latest.condition=='bi'?'kangen':'sakit')}}.png" alt="" style="width: 40%;">
              <img ng-if="latest==null" ng-src="img/quest_mark.png" alt="" style="width: 40%;">
            <div style="font-weight:bold;">{{(latest!=null?convertCondition(latest.condition):'Belum Ada') | uppercase}}</div>
            <div>{{latest!=null?dateTimeFormat(latest.modified):""}}</div>
          </div>
        </div>
      </div>
    </div>       

  </ion-content>
</ion-view>
