<ion-view view-title="Grafik Kesehatan">
  <ion-content class="has-header">

    <div class="has-mask bg-header" style="background-image:url(img/wajah.jpg);">
      <div class="img-text">{{elder.user.first_name}} {{elder.user.last_name}}</div>                
    </div>

    <div class="list append">
      <div class="list append" id="graph-condition">        
        <div class="row" style="background-color: #eaeaea;">          
          <div class="col">            
            <div class="row">              
            <canvas id="pie" class="chart chart-doughnut" chart-data="data" 
              chart-labels="labels" chart-colors="colors"></canvas>
            </div>
            <div class="row">  
              <div class="col"><span class="badge badge-balanced">{{sehat}}</span> Sehat</div>
              <div class="col"><span class="badge badge-energized">{{kangen}}</span> Kangen</div>
              <div class="col"><span class="badge badge-assertive">{{sakit}}</span> Sakit</div>              
            </div>
          </div>          
        </div>        
        <div class="row">
          <div class="col">
            <h3>Periode</h3>
            <label class="item item-input">              
              <input type="text" name="datefrom" ng-focus="datePick();" placeholder="dari tanggal">
            </label>
            <label class="item item-input">              
              <input type="text" name="dateuntill" ng-focus="datePick();" placeholder="hingga tanggal">
            </label>
          </div>
          <div class="col">
            <h3>Hari Ini</h3>
            <img src="img/icon_sehat.png" alt="">
            <div style="font-weight:bold;">SEHAT</div>
            <div>12 Juni 2015 08:33</div>
          </div>
        </div>
      </div>
    </div>       

  </ion-content>
</ion-view>
