<ion-view view-title="Tambah Orang Tua" hide-back-button="true">
    <ion-content>
        <div class="has-mask bg-header" style="background-image:url(img/profile_girl.png);">
          <!-- <img ng-src="{{'img/camera.png'}}" ng-click="getPict()" class="img-camera">           -->
        </div>
        <form name="regForm" ng-submit="register(regForm)">
            <div class="list list-inset">
                <div class="item item-input">                    
                    <label for=""><i class="icon ion-android-person placeholder-icon"></i></label>
                    <input type="text" name="fullname" ng-model="user.fullname" placeholder="Nama Lengkap" required>
                </div>
                <div class="item item-input">                    
                    <i class="icon ion-android-calendar placeholder-icon"></i>
                    <input type="text" id="birthday" name="birthday" ng-model="user.birthday" 
                        placeholder="dd/mm/yyyy" ng-focus="datePick()" required>
                    <!-- <input type="text" id="birthday" name="birthday" ng-model="user.birthday" 
                                        ng-focus="datePick();" placeholder="Tanggal Lahir"> -->
                </div>                
                <label class="item item-input item-select">                    
                    <i class="icon ion-transgender placeholder-icon"></i>
                    <select ng-model="user.gender">
                        <option value="l" selected>Laki-Laki</option>
                        <option value="p">Perempuan</option>
                    </select>
                </label>
                <label class="item item-input">
                    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                    <input type="text" pattern="[0-9]*" name="phone" ng-model="user.phone" placeholder="No. Handphone" required>
                </label>
            </div>
            <div class="padding">                
                <button type="submit" class="button button-block button-positive">Tambah Data Orang Tua</button>
            </div>
        </form>
    </ion-content>
</ion-view>
