<ion-view view-title="Register">
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
      <form name="regForm" ng-submit="register(regForm)">
        <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : regForm.fullname.$invalid && !regForm.fullname.$error.required }">
                <span class="input-label">Nama Lengkap</span>
                <input type="text" name="fullname" placeholder="Nama Lengkap" ng-model="user.fullname" required />
            </label>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : regForm.email.$invalid && !regForm.email.$error.required }">
                <span class="input-label">Email</span>
                <input type="email" name="email" placeholder="Email" ng-model="user.email" required />
            </label>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : regForm.username.$invalid && !regForm.username.$error.required }">
                <span class="input-label">Username</span>
                <input type="text" name="username" placeholder="Username" ng-model="user.username" required />
            </label>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$error.required }">
                <span class="input-label">Password</span>
                <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-change="isMatch()" required />
            </label>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : !passMatch }">
                <span class="input-label">Ulangi Password</span>
                <input type="password" name="repass" placeholder="Ulangi Password" ng-model="user.repass" ng-change="isMatch()" required />
            </label>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : regForm.phone.$invalid && !regForm.phone.$error.required }">
                <span class="input-label">Telpon</span>
                <input type="number" name="phone" placeholder="Telpon" ng-model="user.phone" required />
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Gender</span>
                <select ng-model="user.gender" required />
                    <option value="l">Laki-Laki</option>
                    <option value="p">Perempuan</option>
                </select>
            </label>
        </div>
        <div class="padding">
            <button type="submit" class="button button-block button-positive">
              Register
            </button>
        </div>
      </form>
    </ion-content>
</ion-view>