<ion-view view-title="Registrasi Pengguna">    
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="has-mask bg-header" style="background-image:url(img/profile_boy.png);">
          <!-- <img ng-src="{{'img/camera.png'}}" ng-click="getPict()" class="img-camera"> -->
        </div>
        
        <form name="regForm" ng-submit="register(regForm)">

            <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-error' : regForm.fullname.$invalid && !regForm.fullname.$error.required }">
                    <i class="icon ion-android-person placeholder-icon"></i>
                    <input type="text" name="fullname" placeholder="Nama Lengkap" ng-model="user.fullname" required />
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : regForm.email.$invalid && !regForm.email.$error.required }">
                    <i class="icon ion-android-mail placeholder-icon"></i>
                    <input type="email" name="email" placeholder="Email" ng-model="user.email" required />
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : regForm.username.$invalid && !regForm.username.$error.required }">
                    <i class="icon ion-android-bookmark placeholder-icon"></i>
                    <input type="text" name="username" placeholder="Username" ng-model="user.username" required />
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$error.required }">
                    <i class="icon ion-android-lock placeholder-icon"></i>
                    <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-change="isMatch()" required />
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : !passMatch }">
                    <i class="icon ion-android-lock placeholder-icon"></i>
                    <input type="password" name="repass" placeholder="Ulangi Password" ng-model="user.repass" ng-change="isMatch()" required />
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : regForm.phone.$invalid && !regForm.phone.$error.required }">
                    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                    <input type="number" name="phone" placeholder="Telpon" ng-model="user.phone" required />
                </label>
                <label class="item item-input item-select">
                    <i class="icon ion-transgender placeholder-icon"></i>
                    <select ng-model="user.gender" required>
                        <option value="l">Laki-Laki</option>
                        <option value="p">Perempuan</option>
                    </select>
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">
                    Register
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
