<ion-view view-title="Ubah Password">    
    <ion-content>
        
        <form name="updForm" ng-submit="update(updForm)">

            <div class="list list-inset">
                <label class="item item-input" ng-class="{ 'has-error' : regForm.password.$invalid && !regForm.password.$error.required }">
                    <i class="icon ion-android-lock placeholder-icon"></i>
                    <input type="password" name="password" placeholder="Password" ng-model="user.password" ng-change="isMatch()" required />
                </label>
                <label class="item item-input" ng-class="{ 'has-error' : !passMatch }">
                    <i class="icon ion-android-lock placeholder-icon"></i>
                    <input type="password" name="repass" placeholder="Ulangi Password" ng-model="user.repass" ng-change="isMatch()" required />
                </label>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">
                    Simpan
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
