<ion-view view-title="Cek Kondisi">
    <div class="bar bar-header bar-positive">
      <a ui-sref="kondisi"><h1 class="title">&lt; Kembali</h1></a>
    </div>
    <ion-content class="has-header fixed-height">
      <div class="image">
        <img src="img/human.png" alt="image" />
        <a ui-sref="kondisi" style="top: 10%; left: 10%; width: 15%; height: 15%;">
        <a ui-sref="anatomi" style="top: 20%; left: 50%; width: 15%; height: 15%;">
        <a ui-sref="dashboard" style="top: 50%; left: 80%; width: 15%; height: 15%;">
      </div>
    </ion-content>
</ion-view>