<ion-view view-title="Sapa Anak">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>{{title}}</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
      <div class="">
        <div ng-repeat="cg in caregivers track by $index" class="card in">
          <div class="item item-thumbnail-right">
            <div class="elder_pict" style="background-image:url({{'img/karakter-circle.png'}});">
            &nbsp;</div>
            <h2 class="name_title">{{cg.user.first_name}} {{cg.user.last_name}}</h2>
            <h3>{{cg.phone}}</h3>
            <div>
              <a ng-click="call(cg.phone)" 
              class="button button-small button-block button-balanced icon-left ion-android-call">Panggil</a>              
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>