<ion-view view-title="Sapa Anak">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-title>{{title}}</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
      <div class="">
        <div ng-repeat="cg in caregivers track by $index" class="card in">
          <div class="item item-thumbnail-right">
            <img src="img/karakter-circle.png">
            <h2 class="name_title">{{cg.user.first_name}} {{cg.user.last_name}}</h2>
            <p>
              <div class="phone_title">{{cg.phone}}</div>
              <div class="button-bar">
              <a ng-click="call(cg.phone)" class="button button-balanced icon-left ion-android-call">Panggil</a>
            </div>
            </p>
          </div>          
        </div>
      </div>
    </ion-content>
</ion-view>