<ion-view view-title="Dashboard">
    <ion-header-bar align-title="center" class="bar-positive">        
      <h1 class="title"> Dashboard 
        <!-- <img src="../img/2c-text.png" height="60%" style="padding-top:10px;"> -->
        </h1>
    </ion-header-bar>
    <ion-content>
      <div class="row">
        <div class="col menu-button">
          <a ui-sref="kondisi" class=""> 
            <img src="img/btn_cekkondisi.png" alt=""> 
            <br />Cek Kondisi
          </a>
        </div>
        <div class="col menu-button">
          <a ui-sref="greet" class=""> 
            <img src="img/btn_sapa.png" alt=""> 
            <br />Sapa Anak
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col menu-button">          
          <a ui-sref="articles" class=""> 
            <img src="img/btn_info.png" alt=""> 
            <br />Artikel
          </a>
          <!--<a ui-sref="articles" class=""> 
            <img src="img/btn_notif.png" alt=""> 
            <br />Notifikasi
          </a>-->
        </div>        
        <div class="col menu-button">
          <a ng-click="panicBtn(caregivers[0].phone)" class="" > 
            <img src="img/btn_panik.png"  alt=""> 
            <br />Tombol Panik
          </a>
        </div>        
      </div>
      <div class="row">
          <a ui-sref="profile" class="" > 
          <img src="img/btn_panik.png" style="width: 45%" alt=""> 
            <br />Tombol Panik
          </a>
      </div>

      <!--<div class="row">
        <div class="col menu-button">
          
        </div>      
      </div>-->

      <!-- <div class="list padding">
          <div class="item item-divider positive-bg light">Kondisi Harian</div>
          <a class="item item-avatar" ng-repeat="t in trackers track by $index" href="#">
            <img ng-if="convertCondition(t.condition) == 'baik'" src="img/hijau.png">
            <img ng-if="convertCondition(t.condition) == 'kangen'" src="img/kangen2.png">
            <img ng-if="convertCondition(t.condition) != 'kangen' && convertCondition(t.condition) != 'baik' " src="img/merah.png">
            
            <h2 style="font-weight:bold; text-transform: capitalize;">{{convertCondition(t.condition)}}</h2>
            <p>{{datetimeFormat(t.modified)}} <i ng-show="isLocal(t)" class="energized icon ion-checkmark-round"></i></p>
          </a>
      </div> -->

      <a ng-click="logout()" class="button button-block button-assertive"> Keluar </a>
    </ion-content>
</ion-view>