
<ion-view view-title="Dashboard">
    <ion-content>
      <div class="padding">
        <a ui-sref="kondisi" class="button button-block button-calm">
          Cek Kondisi
        </a>
        <a class="button button-block button-balanced">
          Telepon Anak
        </a>
      </div>
      <ion-list>
        <ion-item class="item-divider">
          <h2>Kondisi</h2>
        </ion-item>
        <ion-item>
          <h2>Baik</h2>
          <p>03-03-2016 20:20</p>
        </ion-item>
        <ion-item>
          <h2>Biasa</h2>
          <p>03-02-2016 20:20</p>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>