
<ion-view view-title="Dashboard">
    <ion-content>
      <div class="padding">
        <a ui-sref="kondisi" class="button button-block button-calm">
          Cek Kondisi
        </a>
        <button ng-disabled="true" class="button button-block button-balanced">
          Telepon Anak
        </button>
      </div>
      <ion-list>
        <ion-item class="item-divider">
          <h2>Kondisi</h2>
        </ion-item>
        <ion-item ng-class="{'stable-bg':isLocal(t)}" ng-repeat="t in trackers track by $index">
            <h2>{{convertCondition(t.condition)}}</h2>
            <p>{{datetimeFormat(t.modified)}} <i ng-show="isLocal(t)" class="energized icon ion-checkmark-round"></i></p>
        </ion-item>
      </ion-list>
      <a ng-click="logout()" class="button button-block button-assertive">
        Keluar
      </a>
    </ion-content>
</ion-view>