
<ion-view view-title="Cek Kondisi">
    <ion-content>
      <div class="list card">
        <div class="item item-divider">
          Bagaimana Kondisi anda saat ini?
        </div>
        <div class="item item-body">
          <div>
            <div class="button-bar">
              <a ui-sref="dashboard" class="button button-balanced">Sehat</a>
              <a ui-sref="dashboard" class="button button-positive">Biasa</a>
              <a ui-sref="anatomi" class="button button-assertive">Sakit</a>
            </div>
          </div>
        </div>
      </div>
      <div class="padding">
        <a ui-sref="dashboard" class="button button-block button-calm">
          Kembali
        </a>
      </div>
    </ion-content>
</ion-view>