
<ion-view view-title="Cek Kondisi">
    <ion-header-bar align-title="center" class="bar-positive">
      <h1 class="title"> Cek Kondisi </h1>
    </ion-header-bar>
    <ion-content>
      <div class="list card">
        <div class="item item-divider">
          Bagaimana Kondisi anda saat ini?
        </div>
        <div class="item item-body">
          <div>
            <div class="">
              <a ng-click="addTrack('ba')" class="">
                <img src="img/kon_sehat.png" width="100%" alt="">
              </a>
              <a ng-click="addTrack('bi')" class="">
                <img src="img/kon_kangen.png" width="100%" alt="">
              </a>
              <a ui-sref="anatomi" class="">
                <img src="img/kon_sakit.png" width="100%" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="padding">
        <a ui-sref="dashboard" class="button button-block button-positive">
          KEMBALI
        </a>
      </div>
    </ion-content>
</ion-view>
