
<ion-view ng-show="noToken" view-title="Login">
    <ion-header-bar align-title="center" class="bar-stable">        
      <h1 class="title"> <!-- <img src="../img/2c-logo.png" height="60%" style="padding-top:10px;"> --> Aplikasi 
        <img src="../img/2c-text.png" height="60%" style="padding-top:10px;"> [Orang Tua]</h1>
    </ion-header-bar>
    <ion-content id="login-content">
      <img src="../img/karakter-circle.png" alt="" style="width: 40%; margin-top: 15px;"> 
      <img src="../img/3e.png" alt="" style="width: 60%; margin-top: 5px;">
      <form name="userForm" ng-submit="login(userForm)">
        <div class="list">
          <label class="item item-input item-floating-label" 
                 ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$error.required }">
            <span class="input-label">No. Handphone</span>
            <input type="text" name="phone" placeholder="No. Handphone" ng-model="user.phone" 
                   required />
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">
            Login
          </button>
        </div>
      </form>
    </ion-content>
</ion-view>