
<ion-view view-title="Login">
    <ion-nav-bar class="bar-positive">
    </ion-nav-bar>
    <ion-content>
      <form name="userForm" ng-submit="login(userForm)">
        <div class="list">
          <label class="item item-input item-floating-label" 
                 ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$error.required }">
            <span class="input-label">No. Handphone</span>
            <input type="text" name="phone" placeholder="No. Handphone" ng-model="user.phone" 
                   required />
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">
            Login
          </button>
        </div>
      </form>
    </ion-content>
</ion-view>