
<ion-view ng-show="noToken" view-title="Login">    
    <ion-content id="login-content">      
      <img src="img/logo.png" alt="" style="width: 50%; margin-bottom: 30px;">
      <form name="userForm" ng-submit="login(userForm)">
        <div class="list">
          <label class="item item-input item-floating-label" 
                 ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$error.required }">
            <span class="input-label">No. Handphone</span>
            <input type="text" name="phone" placeholder="No. Handphone" ng-model="user.phone" 
                   required />
          </label>           
          <button type="submit" class="button button-block button-positive">
            LOGIN
          </button>
        </div>        
      </form>
    </ion-content>
</ion-view>